body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.mainDiv {
    background-color: rgb(52, 48, 48);
    position: fixed;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    background-color: #317773;
    height: 100%;
    width: 100%;
    overflow: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Input{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(177, 216, 216);
    border-radius: 8px;
    height: 25px;
    width: 280px;
    text-align: center;
}
.mobInput{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(177, 216, 216);
    border-radius: 8px;
    height: 30px;
    width: 200px;
    text-align: center;
}
.but{
    background-color: #25d366;
    border-radius: 8px;
    width:67%;
    height:43px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;

    border: 1.5px solid black;
    
box-shadow: rgba(0, 0, 0, 3) 5px 5px 5px;
}

.but:hover{
    font-weight: bolder;
    background-color: green;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
}


.div{
    margin-top: 10px;
}

.error{
    color: #9b122d;
    margin-top: 20px;
    width: 65%;
}


@media screen and (min-width: 1024px) {
    .mainContainer{
        width: 30%;
    }
    
}




.input{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(177, 216, 216);
    border-radius: 8px;
    width:65%;
    height:30px;

    margin-bottom: 20px;
    margin-top: 3px;
    border: 1px solid black;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#317773;
    overflow: auto;
    width: 100%;
    height: 100%;
    border-radius:8px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

.form:hover{
    box-shadow: rgba(0, 0, 0, 3) 0px 5px 15px;
}