body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.mainDiv {
    background-color: rgb(52, 48, 48);
    position: fixed;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    background-color: #317773;
    height: 100%;
    width: 100%;
    overflow: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Input{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(177, 216, 216);
    border-radius: 8px;
    height: 25px;
    width: 280px;
    text-align: center;
}
.mobInput{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(177, 216, 216);
    border-radius: 8px;
    height: 30px;
    width: 200px;
    text-align: center;
}
.subBut{
    background-color: #25d366;
    border-radius: 8px;
    height: 35px;
    width: 285px;
    cursor: pointer;
    font-weight: bold;

    margin-top: 10%;
    margin-bottom: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.validBut{
    background-color: #25d366;
    border-radius: 8px;
    height: 30px;
    width: 80px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 3px;

    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;


}
.validBut:hover{
    font-weight: bolder;
    background-color: green;
    box-shadow: 4px 4px 4px black;
}

.subBut:hover{
    font-weight: bolder;
    background-color: green;
    box-shadow: 4px 4px 4px black;
}

.div{
    margin-top: 10px;
}

.error{
    color: #9b122d;
    margin-bottom: 5px;
    width: 200px;
    height: 30px;
}


@media screen and (min-width: 1024px) {
    .mainContainer{
        width: 30%;
    }
    .Input{
        height: 30px;
        width: 230px;
    }
    
    .subBut{
        height: 35px;
        width: 235px;
    }

    .mobInput{
        height: 30px;
        width: 140px;

    }

    .validBut{
        height: 33px;
        width: 80px;
    }
    
}