body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.mainDiv {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    position: fixed;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .mainContainer {
        width: 30%;
    }
}

.header {
    position: relative;
    top: 0;
    left: 0;    
    background-color: #7ec7c3;
    width: 100%;
}

.main { 
    position: sticky;
    top:'20%';
    overflow: auto;
    border: black solid 1px;
    background-color: #E2D1F9;
    height: 100%;
    width: 100%;
}

.pgButton {
    background-color:'#25D366';
    position: absolute;
    top: 2%;
    right: 1%;
    width: 27%;
    overflow: hidden;
}

.Containerloader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center
}



