.body  {
    background-color: rgb(52, 48, 48);
    position: fixed;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    position: relative;
    background-color:#36454f;
    height: 100%;
    width: 100%;
}
.header{
    position: relative;
    background-color: white;
    height: 94%;
    width: 100%;
    display: flex;
    overflow: hidden;
}


@media screen and (min-width: 1024px) {
    .mainContainer{
        width:30%;
    }  
}

.filtersIn{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(177, 216, 216);
    border-radius: 8px;
    width:72%;
    height:23px;
    border:1px solid black;
}

.pgAndSearchButton{
    background-color: #25d366;
    border-radius: 8px;
    height: 30px;
    width: 73%;
    cursor: pointer;

    font-weight: 200;
    border: 1.5px solid black;

    box-shadow: rgba(0, 0, 0, 3) 5px 5px 5px;

}
.pgAndSearchButton:hover{
    font-weight: bold;
    background-color: green;
    box-shadow: rgba(0, 0, 0, 10) 5px 5px 15px;
}
.cancelButton{ 
    
    background-color: rgb(17, 16, 16);
    border-radius: 8px;
    height: 30px;
    width: 73%;
    cursor: pointer;
    font-weight: 200;
    color: white;

    margin-bottom: 10px;
    border: 1.5px solid black;
    
    box-shadow: rgba(0, 0, 0, 3) 5px 5px 5px;
}
.cancelButton:hover{
    background-color:  black;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 10) 5px 5px 15px;
}


.scaListShowTd{
    border-radius: 8px;
    background-color: #317773;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
    height:100px;
    
    overflow:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;

}
.scaListShowTd:hover{
    box-shadow: rgba(0, 0, 0, 3) 0px 5px 15px;
}
.scaListShowLi{
    position: relative;
    margin-bottom: 3.5px;
    font-size: 13px;
    left: -20px;
    color: black;
    cursor: pointer;
}
.scaListShowLi:hover{
    color: rgb(54, 194, 189);
}

.loginDisplay{
    border-radius: 8px;
    background-color: #317773;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
    height: 160px;
    width: 210px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginDisplay:hover{
    box-shadow: rgba(0, 0, 0, 3) 0px 5px 15px

}


.cross{
    color: #9b122d;
    position: absolute;
    right: 12px;
    top:9px;
    cursor: pointer;

}
.cross:hover{
    font-size: 20px;
}
.loginAndSignupButton{
    background-color: rgb(17, 16, 16);
    border-radius: 8px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    font-weight: 200;
    color: white;

    margin-bottom: 5px;
    border: 1.5px solid black;
    
    box-shadow: rgba(0, 0, 0, 3) 5px 5px 15px;

}
.loginAndSignupButton:hover{
    background-color:  black;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 10) 5px 5px 15px;

}


.error{
    color: #E32636;
}

.headerDiv{
    background-color:#317773;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content:flex-start;

    overflow: auto;


    border-top-right-radius:20px;
  border-bottom-right-radius: 20px;
}

.footer{
    background-color:#36454f;
    height:6%;
    width:100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePicContainer{

    background-color:#36454f;
    width:30px;
    height:30px;
    border-radius:50px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 2px 5px rgba(147, 146, 146, 0.9);
    
}
.profilePicContainer:hover{
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
}



.hostelsContainer::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
.hostelsContainer::-webkit-scrollbar-thumb {
background-color: #555555;
border-radius: 8px;
}

.hostelsContainer::-webkit-scrollbar-track {
background-color: #9b9b9b;
}




.headerDiv::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
.headerDiv::-webkit-scrollbar-thumb {
background-color: #555555;
border-radius: 8px;
}

.headerDiv::-webkit-scrollbar-track {
background-color: #9b9b9b;
}




