.mainDiv{
    height: 100%;
    width: 100%;
}

header{
    position: sticky;
    top: 12px;
    background-color: aqua;
    width: 100%;
    height: 20%;
    border: black solid 1px;
}

label{
    position: absolute;
    color: black;
    top: 10px;
    right: 3px;
    font-weight: bold;
}

a{

}

a:hover{
    background-color: green;
}

.content{
    background-color: lightgreen;
    float: left;
    width: 100%;
    height: 78%;
}

footer{
    background-color: black;
    width: 100%;
    height: 10%;
    float: right;
    border: solid black 1px;
}
