body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.mainDiv {
    background-color: rgb(52, 48, 48);
    position: fixed;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    background-color: white;
    height: 100%;
    width: 100%;
}


.headerDiv{
    position: absolute;
    top: 0;
    left: 0;
    background-color:#317773;
    height: 94%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    
    border-top-right-radius:20px;
  border-bottom-right-radius: 20px;
}

@media screen and (min-width: 1024px) {
    .mainContainer{
        width:30%;
    }

    .headerDiv{
        width: 15%;
        left: 35%;
    }
    
}
@media screen and (min-width: 550px) {
    .mainContainer{
        width:30%;
    }

    header{
        width: 15%;
        left: 35%;
    }
    
}

footer{
    background-color:#36454f;
    height:6%;
    width:100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.profilePicContainer{
    background-color:#36454f;
    width:30px;
    height:30px;
    border-radius:50px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 2px 5px rgba(147, 146, 146, 0.9);
}
.profilePicContainer:hover{
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
}

.profilePhoto{
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.headerButtons{
    background-color:#25D366;
    font-weight: bold;
    width:50%;
    height:25px; 
    border-radius: 5px;
    margin-top:10px;
    cursor: pointer;
    font-size: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

    text-align: center;
    vertical-align: middle;
}
.headerButtons:hover{
    background-color: green;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    font-size: 13px;

}



.addNewHostelFormDiv{
    background-color: #317773;
    height: 100%;
    width: 100%;
}
.addNewHostelForm{
    position: relative;
    top: 0.3%;
    left: 0.5%;
    background-color:#EEA47F;
    width: 98%;
    height: 98.8%;
    overflow: auto;
    border: 3px solid black;
    border-radius: 8px;
}

.oneShareDiv{
    display: flex;
    justify-content: flex-start;;
    align-items: center;
}

.secShareDiv{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
    
}

.facilitiesDivs{
    margin-left: 2%;
    margin-top: 1;
    margin-bottom: 5%;
    display: flex;
    justify-content: flex-start;;
    align-items: center;
}
.formButtons{
    background-color:#25D366;
    font-size:75%;
    width:30%;
    font-weight: bold;
    height:30px; 
    border-radius: 5px;
    margin-top:1%;
    margin-bottom:1%;
    cursor: pointer;
    font-size: 12px;
    
    box-shadow: 1px 1px 1px black;

    display: flex;
    justify-content: center;
    justify-items: center;
}
.formButtons:hover{
    background-color: green;
    box-shadow: 3px 3px 3px black;
    font-size: 13px;

}

.label{
    height: 35px;
    width: 50%;
    border-radius: 8px;
    background-color: rgb(177, 216, 216);

    cursor: pointer;
   
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}