body{
    margin: 0%;
    height: 100vh;
    width: 100vw;
}
.body {
    height: 100%;
    width: 100%;
    background-color: rgb(52, 48, 48);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDiv {
    height: 100%;
    width: 100%;
    background-color: #E2D1F9;;

    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    position: relative;
    background-color: white;
    height: 94%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

@media screen and (min-width: 1024px) {
    .mainDiv{
        width:30%;
    }
}
@media screen and (min-width: 550px) {
    .mainDiv{
        width:30%;
    }
} 

footer{
    background-color:#36454f;
    height:6%;
    width:100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 7px 7px 0px 0px;
}

.profilePicContainer{
    background-color: #E2D1F9;
    width:30px;
    height:30px;
    border-radius:50px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.9);
}
.profilePicContainer:hover{
    background-color: lightblue;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
}

.profilePhoto{
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.headerButtons{
    background-color:#25D366;
    font-weight: bold;
    width:50%;
    height:25px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    box-shadow: rgba(0, 0, 0, 3) 5px 5px 5px;

    overflow: hidden;
    text-align: center;
    vertical-align: middle;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1.5px solid black;
}
.headerButtons:hover{
    background-color: green;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
    font-size: 13px;

}

.addNewHostelFormDiv{
    background-color: #E2D1F9;
    height: 0%;
    width:100%;
    position:absolute;
    bottom:0%;
    overflow: hidden;
}




.addNewHostelForm{
    position: relative;
    top: 0.3%;
    left: 0.5%;
    background-color:#EEA47F;
    width: 98%;
    height: 98.8%;
    border: 3px solid black;
    border-radius: 8px;
    overflow: auto;
}

.addNewHostelForm::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.oneShareDiv{
    display: flex;
    justify-content: flex-start;;
    align-items: center;
}

.secShareDiv{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
    
}

.facilitiesDivs{
    margin-left: 2%;
    margin-top: 1;
    margin-bottom: 5%;
    display: flex;
    justify-content: flex-start;;
    align-items: center;
}
.formButtons{
    background-color:#25D366;
    font-size:75%;
    width:30%;
    font-weight: bold;
    height:30px; 
    border-radius: 5px;
    margin-top:1%;
    margin-bottom:1%;
    cursor: pointer;
    font-size: 12px;
    overflow: hidden;
    
    box-shadow: rgba(0, 0, 0, 3) 5px 5px 5px;
    border-radius: 8px;
    border:1.5px solid black;

    display: flex;
    justify-content: center;
    justify-items: center;
}
.formButtons:hover{
    background-color: green;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
    font-size: 13px;
    font-weight: bold;

}

.profileCancelButton{ 
    
    background-color: rgb(17, 16, 16);
    border-radius: 8px;
    height: 30px;
    width:30%;
    cursor: pointer;
    font-weight: 200;
    color: white;
    overflow: hidden;

    margin-bottom: 5px;
    border: 1.5px solid black;
    
    box-shadow: rgba(0, 0, 0, 3) 5px 5px 5px;
}
.profileCancelButton:hover{
    background-color:  black;
    font-weight: bold;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
}

.label{
    height: 30px;
    width: 50%;
    border-radius: 8px;
    background-color: rgb(177, 216, 216);

    cursor: pointer;
   border: 1px solid black;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(177, 216, 216);
    border-radius: 8px;
    width:55%;
    height:30px;
    border: 1px solid black;
}



.hostelsContainer{
    width:100%;
    height:100%;
    overflow:auto;
    scroll-behavior:smooth;
    background-color: #E2D1F9;
    
    display:flex;
    justify-content:center;
    align-items: center;
}

.hostelsContainer::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.profileDiv{
    height:100%;
    width:0%;
    border-radius:0px 20px 20px 0px;
    background-color:#317773;
    position:absolute;
    overflow:hidden;
}