body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.mainDiv {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    position: fixed;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .mainContainer{
        width: 30%;
    }

}

.header {
    position: relative;
    top: 0%; 
    width: 100%;
    height: 24%;
    background-color: #317773;


    display: flex;
    justify-content: baseline;
    align-items: center;
}

.main {
    position: relative;
    top:0%;
    overflow: auto;
    height: 77%;
    border: black solid 1px;
    background-color: #E2D1F9;
    
}

.pgButton {
    position: absolute;
    top: 2%;
    right: 1%;
    width: 27%;
    overflow: hidden;
}

.loaderContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.loader{
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center
}

.profilePhoto{
    width: 18%;
    height: 35%;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.addNewHostelFormDiv{
    background-color: white;
    height: 98.5%;
    width: 100%;
}
.addNewHostelForm{
    position: relative;
    top: 0.3%;
    left: 0.5%;
    background-color:#EEA47F;
    width: 98%;
    overflow: auto;
    border: 3px solid black;
    border-radius: 5px;

}
