body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.mainDiv {
    background-color: rgb(52, 48, 48);
    position: fixed;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    background-color: #317773;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}



input{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(177, 216, 216);
    border-radius: 8px;
    width:100%;
    height:33px;

    margin-bottom: 20px;
    margin-top: 3px;
}

.label{
    width:100%;
    height:35px;
    border-radius: 8px;
    background-color: rgb(177, 216, 216);
   
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    font-size: 15px;
}

.submitBut{
    background-color: #25d366;
    border-radius: 8px;
    
    width:100%;
    height:45px;
    cursor: pointer;
    font-size: 15px;
margin-top: 30px;
margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.submitBut:hover{
    font-weight: bolder;
    background-color: green;
    box-shadow: 4px 4px 4px black;

}


.homeBut{
    background-color:#317773;
    font-size: 15px;
   
    width:100%;
    height:45px;
    border-radius: 8px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.homeBut:hover{
    font-weight: bolder;
    background-color: #1c6c68;
    box-shadow: 3px 3px 3px black;

}

.buttonValidate{
    background-color: #25d366;
    border-radius: 8px;
    height: 35px;
    width: 285px;
    cursor: pointer;
    font-weight: bold;

    margin-top: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonValidate:hover{
    font-weight: bolder;
    background-color: green;
    box-shadow: 4px 4px 4px black;
}

.error{
    color: #9b122d;
    width: 95%;
    height: 33px;
}


@media screen and (min-width: 1024px) {
    .mainContainer{
        width:30%;
    }
    input{
        height: 22px;
        width: 230px;
    }
    .label{
        height: 30px;
        width: 235px;
        font-size: 13px;
    }

    div{
        font-size: 13px;
    }

    .submitBut{
        height: 35px;
        width: 235px;
    }
    .homeBut{
        height: 35px;
        width: 235px;
    }
    
}