body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color:#36454f;
}

.mainDiv {
    background-color: rgb(52, 48, 48);
    position: fixed;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    background-color: #317773;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#317773;
    overflow: auto;
    width: 100%;
    height: 100%;
    border-radius:8px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;  
}

.form:hover{
    box-shadow: rgba(0, 0, 0, 3) 0px 5px 15px;
}

div{
    font-size: 15px;
}

.input{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(177, 216, 216);
    border-radius: 8px;
    width:65%;
    height:30px;
    margin-bottom: 20px;
    margin-top: 3px;
    border: 1px solid black;
}

.label{
    width:66.5%;
    height:33px;
    border-radius: 8px;
    background-color: rgb(177, 216, 216);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitBut{
    background-color: #25d366;
    border-radius: 8px;  
    width:67%;
    height:43px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid black;
    box-shadow: rgba(0, 0, 0, 3) 5px 5px 5px;  
}

.submitBut:hover{
    font-weight: bolder;
    background-color: green;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
}

.buttonValidate{
    background-color: #25d366;
    border-radius: 8px;
    width:67%;
    height:43px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 3) 5px 5px 5px;
}

.buttonValidate:hover{
    font-weight: bolder;
    background-color: green;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
}

@media screen and (min-width: 1024px) {
    .mainContainer{
        width:30%;
    }
}

.error{
    color: #9b122d;
    width: 65%;
    height: 33px;
    margin-bottom: 10px;
}